.Parallax__background {
  width: 100vw;
  background-color: rgb(17, 17, 21)
}

.Parallax {
  background-color: rgb(17, 17, 21);
  font-family: 'Cedarville Cursive', cursive;
}

@font-face {
  font-family: "selima";
  src: local("selima_.otf"),
    url("./fonts//selima/selima_.otf") format("truetype");
  font-weight: bold;
}